/*Checkbox-options TECHS*/
.techs-group {
    font-size: 14px;
}

/*Checkbox-options alinhamento*/
.techs-group input[type="checkbox"],
.techs-group label {
    display: inline-block;
    margin-right: 3.8px;
    vertical-align: middle;
}